.logo-beehamchoi {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

.break-line {
    word-break: break-all;
    width: 35%;
}
.date-index {
    text-align: center;
    font-size: 5rem;
}
.time-index {
    text-align: center;
    font-size: 7rem;
}